body {
    margin: 0;
    padding: 0;
    background-color: rgba(142, 162, 215, 0.7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inria Sans';
  }
  
  .unitkerja-sidebar{
    width: 10%;
    height: 100%;
    padding: 30px;
    position: fixed;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .unitkerja-sidebar .active{
    margin-left: 0;
  }

  .tombol-lingkaran{
    background-color: rgba(152, 171, 218, 255);
    border-radius: 50%;
    justify-content: center;
    width: 70px;
    height: 70px;
  }

  .tombol-lingkaran-klik{
    background-color: rgba(98, 128, 209, 0.7);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
  }
  
  .unitkerja-sidebar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-left: -50px;
  }
  
  .unitkerja-sidebar ul li a {
    text-decoration: none;
    color: white;
    font-family: "DM Serif Display";
  }
  
  .unitkerja .kotak-unitkerja{
    border-radius: 15px;
    background-color: rgba(98, 128, 209, 0.7);
    position: flex;
    margin-left: 150px;
    flex-direction: row;
    justify-content: center;
    padding: 70px 50.2px 0 60.2px;
    height: 100%;
    width: 85%;
  }

  .tulisan{
    margin-left: -60px;
    margin-top: -50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .tulisan ul li{
    list-style: none;
    display: inline-block;
  }

  .tulisan ul li a {
    text-decoration: none;
    color: black;
    font-family: "DM Serif Display";
    font-size: 20px;
  }

  .cari{
    padding: 0;
    font-family: 'DM Serif Display';
  }

  table{
    width: 100%; /* Ganti menjadi 100% untuk tampilan responsif */
    border-collapse: collapse;
    margin: 30px 0px 30px;
    background-color: #fff;
    font-size: 14px;
  }
  
  table tr {
      height: 40px;
  }

  table th {
    background: rgba(142, 162, 215, 0.7);
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  table td, th {
    padding: 6px 6px 6px 10px;
    border: 1px solid #ccc;
  }
  
  /* CSS3 untuk pewarnaan baris selang-seling */
  table tr:nth-of-type(odd) {
    background: #eee;
  }